<ion-header [translucent]="true">
    <ion-toolbar class="header" >
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-item lines="none">
        <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
        <ion-label class="label1"> Usuario: {{data.usuario}}</ion-label>
        <ion-back-button defaultHref="/"></ion-back-button>  <!--boton para volver a la pagina anterior -->
      </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-icon name="person-circle-outline" slot="start"></ion-icon>Perfil </ion-item>
        <ion-item><ion-icon name="fitness-outline" slot="start"></ion-icon> Mi estado </ion-item>
        <ion-item><ion-icon name="calendar-number-outline"  slot="start"></ion-icon> Mis horas </ion-item>
        <ion-item><ion-icon name="bag-add-outline" slot="start"></ion-icon> Historial de atenciones </ion-item>
        <ion-item [routerLink]="['/especialistas']"><ion-icon name="glasses-outline" slot="start"></ion-icon> Especialistas </ion-item>
        <ion-item><ion-icon name="notifications-outline" slot="start"></ion-icon> Notificaciones </ion-item>
      
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  
</ion-content>