<ion-content>
  <div class="header">
    <h3>BIENVENIDO, <span></span></h3>
    <h1> Ingresa<br> para continuar</h1>
  </div>
  <div class="form">
    <ion-input type="text" [(ngModel)]="user.usuario" required minlength="3" maxlength="8"
      placeholder="Usuario" required></ion-input>
    <ion-input  placeholder="contraseña" type="password" required minlength="4" maxlength="4"
      [(ngModel)]="user.password" required>
    </ion-input>
  </div>
  <div class="button">
    Ingresar <ion-icon name="chevron-forward-outline" (click)="ingresar()"></ion-icon>
  </div>
  <div class="footer">
    <h3> ¿Aun no tienes cuenta? <span> Crear tu cuenta</span></h3>
  </div>
</ion-content>